Flight Data EDA and Featur engineering ::

Importing Library -

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [4]:
train = pd.read_excel('train.xlsx')

In [5]:
test = pd.read_excel('test.xlsx')

In [6]:
df = pd.merge(train,test, how = 'outer')

In [7]:
df.shape

(13151, 11)

In [8]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [9]:
df.head();

In [10]:
%%capture
df.info()

Feature Engineering :

1. Date of  journey

In [13]:
df['month'] = df['Date_of_Journey'].str.split('/').str[1]

In [14]:
df['date'] = df['Date_of_Journey'].str.split('/').str[0]

In [15]:
df['year'] = df['Date_of_Journey'].str.split('/').str[2]

In [16]:
df['date'] = df.date.astype(int)
df['month'] = df.month.astype(int)
df['year'] = df.year.astype(int)

In [17]:
df.drop('Date_of_Journey',axis = 1, inplace = True)

2. Arrival_Time

In [19]:
df['Arrival_Time'] = df.Arrival_Time.apply(lambda x:x.split(' ')[0])

In [20]:
df['Arrival_Hour'] = df.Arrival_Time.apply(lambda x:x.split(':')[0])

In [21]:
df['Arrival_Min'] = df.Arrival_Time.apply(lambda x:x.split(':')[1])

In [22]:
df['Arrival_Hour']=df.Arrival_Hour.astype(int);
df['Arrival_Min']=df.Arrival_Min.astype(int);

In [23]:
df.drop('Arrival_Time',axis =1, inplace = True)

3. Dep_Time

In [25]:
df['Dep_Hour'] = df.Dep_Time.apply(lambda x:x.split(':')[0])

In [26]:
df['Dep_Min'] = df.Dep_Time.apply(lambda x:x.split(':')[1])

In [27]:
df.drop('Dep_Time',axis =1 , inplace =True)

In [28]:
df['Dep_Hour']=df.Arrival_Hour.astype(int);
df['Dep_Min']=df.Arrival_Min.astype(int);

4. Route and Total_Stops

In [30]:
df.drop('Route',axis =1, inplace = True)

In [31]:
x = df.Total_Stops.mode()[0]

In [32]:
df['Total_Stops'] = df.Total_Stops.fillna(x)

In [33]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop': 0, '1 stop': 1, '2 stops': 2, '3 stops': 3, '4 stops': 4})

In [34]:
df['Total_Stops']=df.Total_Stops.astype(int)

In [162]:
df.head();

In [36]:
df['Dur_Hour']=df.Duration.apply(lambda x:x.split(' ')[0].split('h')[0])

In [73]:
df = df[df['Dur_Hour']!='5m']

In [88]:
df['Dur_Hour'] = df.Dur_Hour.astype(int)

In [124]:
df['Dur_Min'] = df.Duration.apply(lambda x:x.split('m')[0].split()[-1])

In [136]:
df['Dur_Min'] = df.Dur_Min.apply(lambda x: 0 if 'h' in x else x)

In [146]:
df['Dur_Min'] = df['Dur_Min'].astype(int)

In [150]:
df.drop('Duration', axis =1, inplace = True)

5. Categorial text ko numerical value me convert krna h

In [165]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
       'Price', 'month', 'date', 'year', 'Arrival_Hour', 'Arrival_Min',
       'Dep_Hour', 'Dep_Min', 'Dur_Hour', 'Dur_Min'],
      dtype='object')

'Airline', 'Source', 'Destination', 'Additional_Info' ye sb categorial text h inko convert krna pdega numerical value me

In [170]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

LabelEncoder ko object bnana pdega use krne se phle isiliye le liye h

In [178]:
df['Airline'] = le.fit_transform(df['Airline'])
df['Source'] = le.fit_transform(df['Source'])
df['Destination'] = le.fit_transform(df['Destination'])
df['Additional_Info'] = le.fit_transform(df['Additional_Info'])

fit_transform()

fit -> ye saare unique data dekhta h aur sb unique ko numerical number de deta h mtlb map kiya

transform -> wo maped pure data pe apply kr deta h

In [192]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,month,date,year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Dur_Hour,Dur_Min
0,0,0,5,0,8,10715.0,3,1,2019,8,40,8,40,2,50
1,0,0,5,0,9,10873.0,3,1,2019,2,10,2,10,2,45
2,0,0,5,0,8,7074.0,3,3,2019,8,40,8,40,2,50
3,0,0,5,0,8,7652.0,3,3,2019,8,40,8,40,2,50
4,0,0,5,0,8,6135.0,3,3,2019,2,10,2,10,2,45