In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [20]:
df = pd.read_csv('XAUUSDDaily.csv')

In [22]:
df.head()

  Date \t Open \t High \t Low \t Close \t Volume
0      2004.06.11\t384\t384.8\t382.8\t384.1\t303
1   2004.06.14\t384.3\t385.8\t381.8\t382.8\t1954
2   2004.06.15\t382.8\t388.8\t381.1\t388.6\t1995
3   2004.06.16\t387.1\t389.8\t382.6\t383.8\t2106
4     2004.06.17\t383.6\t389.3\t383\t387.6\t1638